# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
build/
dist/

outfile

# 后缀
*.mp3
*.mp4
*.xls
*.jpg
*.png
*.xlsx
*.doc
*.docx
*.ppt
*.pptx
*.json